In [1]:
import pandas as pd
import numpy as np

file = '2.Car_Price_Prediction.csv'
df = pd.read_csv(file)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          1000 non-null   object
 1   Model         1000 non-null   object
 2   Year          1000 non-null   int64
 3   Engine Size   1000 non-null   float64
 4   Mileage       1000 non-null   int64
 5   Fuel Type     1000 non-null   object
 6   Transmission  1000 non-null   object
 7   Price         1000 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 62.6+ KB

In [5]:
df.describe()

              Year  Engine Size       Mileage         Price
count  1000.000000  1000.000000    1000.00000   1000.000000
mean   2010.688000     2.798300   97192.48700  25136.615530
std       6.288577     1.024137   59447.31576   5181.401368
min    2000.000000     1.000000      56.00000   6704.953524
25%    2005.000000     1.900000   44768.75000  21587.878370
50%    2011.000000     2.800000   94411.50000  25189.325247
75%    2016.000000     3.700000  148977.75000  28806.368974
max    2021.000000     4.500000  199867.00000  41780.504635

In [2]:
df['Transmission'].value_counts()

Transmission
Manual       511
Automatic    489
Name: count, dtype: int64

In [6]:
df['Price'].value_counts()

Price
30246.207931    1
22785.747684    1
25760.290347    1
25638.003491    1
21021.386657    1
               ..
22765.597091    1
30392.575567    1
16446.892292    1
27396.156708    1
31620.864907    1
Name: count, Length: 1000, dtype: int64

In [8]:
df['Price'].isna().sum()

np.int64(0)